.clubDetailContainer {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
}

.clubDetailContainerContent h2{
    margin: 0;
    margin-bottom: 16px;
}

.clubDetailContainerContent p{
    font-size: 20px;
}

.clubDetailContainer .contactUs{
    display: flex;
    justify-content: space-between;
}

.clubDetailContainer .contactUs p,
.clubDetailContainer .contactUs h3{
    text-align: left;
}

.clubDetailContainer .contactUs button{
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    height: 20%;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .clubDetailContainer{
        padding: 32px;
        margin: 0;
        gap: 24px;
    }

    .clubDetailContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .clubDetailContainer .contactUs p,
    .clubDetailContainer .contactUs h3{
        font-size: 1.25em;
        text-align: center;
    }

    .clubDetailContainer .contactUs button{
        width: 32%;
    }

    .clubDetailContainer .contactUs h3{
        margin: 0;
    }
}