.ClubsListContainer{
    font-family: 'Lato', sans-serif;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
}

.ClubsListSearch select{
    width: 25%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ClubsTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.ClubsTable th, .ClubsTable td {
  text-align: left;
  padding: 24px;
  font-size: 1em;
}

.ClubsTable th {
  font-weight: bold;
  color: #333;
  background-color: #dfdfdf;
}

.ClubsTable td {
  color: #555;
}

.ClubsTable tr {
  border-bottom: 1px solid #ccc;
}

.ClubsTable tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}

.ClubLink {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use inherited color */
}

.ClubLink:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
  .ClubsListContainer{
    padding: 16px;
  }

  .ClubsListSearch select {
      width: 100%;
  }

  .ClubsListTable > div {
      flex-direction: column;
      gap: 16px;
      padding: 16px 0;
  }

  .ClubsListTable > div > div:first-child {
      text-align: center;
  }

  .ClubsListTable > div > div:last-child {
      text-align: center;
  }
}
