.ClubsListContainer{
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 480px;
    padding-right: 480px;
}

.ClubsListSearch select{
    width: 25%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ClubsTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.ClubsTable th, .ClubsTable td {
  text-align: left;
  padding: 24px;
  font-size: 1em;
}

.ClubsTable th {
  font-weight: bold;
  color: #333;
  background-color: #dfdfdf;
}

.ClubsTable td {
  color: #555;
}

.ClubsTable tr {
  border-bottom: 1px solid #ccc;
}

.ClubsTable tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .ClubsListContainer{
        padding: 32px;
        margin: 0;
        gap: 32px;
    }

    .ClubsListSearch p{
        text-align: center;
    }

    .ClubsListSearch select {
        width: 100%;
    }

    .ClubsListTable > div {
        flex-direction: column;
        gap: 16px;
        padding: 16px 0;
    }

    .ClubsListTable > div > div:first-child {
        text-align: center;
    }

    .ClubsListTable > div > div:last-child {
        text-align: center;
    }
}
