.clubDetailContainer {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.clubDetailContainer h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.clubDetailContainer p {
    text-align: center;
    font-size: 1.5rem;
}

.clubDetailContainer .contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clubDetailContainer .contactUs p,
.clubDetailContainer .contactUs h3{
    text-align: left;
}

.clubDetailContainer .contactUs button{
    padding: 16px 40px;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    height: 20%;
}

.clubLeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.clubLeaderInfo {
    border: 1px solid #000;
    padding: 20px 80px;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .clubDetailContainer{
        padding: 32px;
        margin: 0;
        gap: 32px;
    }

    .clubLeaderSection {
        gap: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .clubLeaderInfo {
        border: 1px solid #000;
        padding: 16px 40px;
    }

    .clubDetailContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .clubDetailContainer .contactUs p,
    .clubDetailContainer .contactUs h3{
        text-align: center;
        font-size: 1.25em;
    }   
}