.ContactUsContainer {
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
}

.ContactUsContainerTitle{
    padding-top: 40px;
}

.ContactUsContainerTitle h3{
    margin: 0;
    text-align: center;
    font-size: 2.0rem;
}

.fansPageContainer h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.fansPageContainer .contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fansPageContainer .contactUs p,
.fansPageContainer .contactUs h3{
    text-align: left;
}

.clubLeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.clubLeaderInfo {
    border: 1px solid #000;
    padding: 20px 80px;
}

.contactUsFormContainer{
    display: flex;
    margin: 0 auto;
    padding: 40px;
    gap: 64px;
    width: auto;
    /* max-width: 1200px; */
    justify-content: center;
}

.contactUsFormContainer p{
    font-size: 1.2em;
    margin-top: 0;
}

.firstElementWrapper {
    margin-bottom: 0;
}

.contactUsFormContainer form > button {
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    margin-top: 8px;
    padding: 12px 0;
    font-size: 16px;
}

.contactUsLocationContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
}

.mapContainer {
    width: 64%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: #888 2px solid;
}

.mapContainer iframe {
    border-radius: 40px;
    border: none;
}

.detailsContainer {
    font-size: 1.2rem;
    border: #888 2px solid;
    border-radius: 40px;
    padding: 24px;
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
}

.detailsContainer p{
    margin: 0;
}

.detailsContainer h4{
    margin: 0;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #444444;
    font-size: 16px;
}

.detailsContainer .first{
    margin-top: 0;
}

.detailsContainerSocialIcons {
    display: flex;
    gap: 24px;
    align-items: center;
    /* margin-top: 10px; */
}

.detailsContainerSocialIcons span {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .fansPageContainer{
        padding: 32px 16px;
        margin: 0;
        gap: 16px;
    }

    .fansPageContainer h3 {
        font-size: 1.5rem;
    }

    .fansPageContainer p {
        font-size: 1.25rem;
        margin: 0;
    }

    .clubLeaderSection {
        gap: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .clubLeaderInfo {
        border: 1px solid #000;
        padding: 16px 40px;
    }

    .fansPageContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .fansPageContainer .contactUs p,
    .fansPageContainer .contactUs h3{
        text-align: center;
        font-size: 1.25em;
    }

    .contactUsFormContainer {
        flex-direction: column;
        margin: 0;
        gap: 16px;
        padding: 16px;
    }

    .contactUsFormContainer h3{
        margin: 0;
        text-align: center;
    }

    .contactUsFormContainer p{
        margin: 4;
        text-align: center;
    }

    .contactUsLocationContainer {
        flex-direction: column;
        padding: 16px;
        gap: 24px;
    }

    .mapContainer {
        width: 100%;
        border-radius: 8px;
    }

    .detailsContainer {
        border-radius: 8px;
    }
}