.ContactUsContainer {
    background-color: #eee;
}

.ContactUsContainerTitle{
    padding-top: 40px;
}

.ContactUsContainerTitle h3{
    margin: 0;
    text-align: center;
    font-size: 2.0rem;
}

.fansPageContainer h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.fansPageContainer .contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fansPageContainer .contactUs p,
.fansPageContainer .contactUs h3{
    text-align: left;
}

.clubLeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.clubLeaderInfo {
    border: 1px solid #000;
    padding: 20px 80px;
}

.contactUsFormContainer{
    display: flex;
    margin: 0 auto;
    padding: 40px;
    gap: 64px;
    width: auto;
    /* max-width: 1200px; */
    justify-content: center;
}

.contactUsFormContainer p{
    font-size: 1.2em;
    margin-top: 0;
}

.firstElementWrapper {
    margin-bottom: 0;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .fansPageContainer{
        padding: 32px 16px;
        margin: 0;
        gap: 16px;
    }

    .fansPageContainer h3 {
        font-size: 1.5rem;
    }

    .fansPageContainer p {
        font-size: 1.25rem;
        margin: 0;
    }

    .clubLeaderSection {
        gap: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .clubLeaderInfo {
        border: 1px solid #000;
        padding: 16px 40px;
    }

    .fansPageContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .fansPageContainer .contactUs p,
    .fansPageContainer .contactUs h3{
        text-align: center;
        font-size: 1.25em;
    }

    .contactUsFormContainer {
        flex-direction: column;
        margin: 0;
        gap: 16px;
        padding: 16px;
    }

    .contactUsFormContainer h3{
        margin: 0;
        text-align: center;
    }

    .contactUsFormContainer p{
        margin: 4;
        text-align: center;
    }

    form {
        padding: 24px;
        border-radius: 16px;
    }
}