.EventDetailContainer{
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
}

.EventDetailSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.EventDetailSummary > div{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    border-radius: 16px;
    padding-bottom: 16px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    width: 320px;
}

.EventGallery > h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.GalleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 8px; /* Space between items */
}

.GalleryItem-landscape {
  width: 100%;
  height: 240px; /* Adjust height as needed */
}

.GalleryItem-portrait {
  width: 400px;
  height: 100%; /* Adjust height as needed */
}

.GalleryItem-landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.GalleryItem-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

@media (max-width: 768px) {
    .EventDetailContainer{
        padding: 16px;
        gap: 32px;
    }

    .EventDetailSummary{
      margin: 0;
      flex-direction: column;
      row-gap: 16px;
    }

    .EventDetailSummary > div{
      margin: 0;
      width: 80%;
    }
    
    .GalleryGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }

    .EventCards{
        flex-direction: column;
        gap: 32px;
    }

    .EventCards > table > thead > tr > th{
        text-align: center;
    }
    
    .EventCards > table > tbody > tr > td{
        text-align: center;
    }

    .GalleryGrid{
        padding: 0;
        grid-template-columns: repeat(1, 1fr); /* 3 columns */
    }
}