.EventListContainer{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 480px;
  padding-right: 480px;
}

.EventFilterGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.EventFilterGroup label {
  font-size: 1.5em;
}

.EventFilterGroup select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 16px;
  margin-bottom: 40px;
}

.EventFilter > div{
  border: #000 1px solid;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.EventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.EventTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.EventTable th, .EventTable td {
  text-align: left;
  padding: 10px;
  font-size: 1em;
}

.EventTable th {
  font-weight: bold;
  color: #333;
}

.EventTable td {
  color: #555;
}

.EventTable tr {
  border-bottom: 1px solid #ccc;
}

.EventTable tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}