.Section {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Section > h1{
  font-size: 2em;
  color: #333;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

.EventListGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.EventListGroup > div > p{
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.EventList{
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding-right: 64px;
  padding-left: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
  /* background-color: #61dafb; */
  background-color: #fff;
}

.EventList > p {
  text-align: center;
  font-weight: bold;
}

.EventTitle{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.Event{
  display: flex;
  column-gap: 32px;
  align-items: center;
  font-size: 1.2em;
}

.EventDate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventDate > p{
  margin-top: 4px;
  margin-bottom: 4px;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
  .Section {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .EventListGroup {
    flex-direction: column; /* Stack event lists vertically */
    align-items: center;
    gap: 24px;
  }

  .EventList {
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;
  }

  .Event {
    row-gap: 16px; /* Add spacing between stacked items */
  }

  .Section > h1 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
  }
}
