.EventDetailContainer{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.EventCards{
    display: flex;
    justify-content: space-between;
}

.EventCards > table{
    text-align: center;
    width: 400px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    border-radius: 16px;
}

.EventCards > table > thead{
    text-align: left;
    padding: 8px;
}

.EventCards > table > thead > tr > th{
    text-align: left;
    padding: 16px 32px;
}

.EventCards > table > tbody > tr > td{
    text-align: left;
    padding: 16px 32px;
}

.EventDetailSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.EventDetailSummary > div{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    border-radius: 16px;
    padding-bottom: 16px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1.1em;
    width: 334px;
}

.EventGallery {
  text-align: center;
}

.GalleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 8px; /* Space between items */
  padding: 20px;
}

.GalleryItem-landscape {
  width: 100%;
  height: 240px; /* Adjust height as needed */
}

.GalleryItem-portrait {
  width: 400px;
  height: 100%; /* Adjust height as needed */
}

.GalleryItem-landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.GalleryItem-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

@media (max-width: 768px) {
    .EventDetailContainer{
        padding: 32px;
        margin: 0;
        gap: 32px;
    }
    
    .GalleryGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }

    .EventDetailSummary{
        display: block;
        text-align: center;
    }

    .EventDetailSummary > div{
        margin-top: 16px;
    }

    .EventCards{
        flex-direction: column;
        gap: 32px;
    }

    .EventCards > table > thead > tr > th{
        text-align: center;
    }
    
    .EventCards > table > tbody > tr > td{
        text-align: center;
    }

    .GalleryGrid{
        padding: 0;
        grid-template-columns: repeat(1, 1fr); /* 3 columns */
    }
}