.EventListContainer{
  font-family: 'Lato', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 400px;
  padding-right: 400px;
}

.EventFilters{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.EventFilters > div{
  width: 384px;
}

.EventListContainerTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  justify-content: space-between;
}

.EventListContainerTop label {
  font-size: 20px;
}

.EventListContainerTop h2 {
  margin: 0;
  margin-bottom: 16px;
}

.EventListContainerTop select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 16px;
  margin-bottom: 40px;
}

.EventsSummary{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.EventsSummary > div{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  border-radius: 16px;
  padding-bottom: 16px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  width: 320px;
}

.EventContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.EventTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.EventTableWrapper {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
}

.EventTable th, .EventTable td {
  text-align: left;
  padding: 24px;
  font-size: 1em;
}

.EventTable th {
  font-weight: bold;
  color: #333;
  background-color: #dfdfdf;
}

.EventTable td {
  color: #555;
}

.EventTable tr {
  border-bottom: 1px solid #ccc;
}

.EventTable tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}

.EventLink {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use inherited color */
}

.EventLink:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
  .EventListContainer{
    padding: 16px;
  }

  .EventFilters {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 16px;
  }

  .EventFilters > div{
    width: 100%;
  }

  .EventFilters select {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .EventsSummary{
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  .EventsSummary > div{
    width: auto;
    text-align: center;
    margin-bottom: 16px;
  }
}