.EventListContainer{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 480px;
  padding-right: 480px;
}

.EventFilterGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.EventFilterGroup label {
  font-size: 1.5em;
}

.EventFilterGroup select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 16px;
  margin-bottom: 40px;
}

.EventFilter > div{
  border: #000 1px solid;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.EventContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.EventTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.EventTable th, .EventTable td {
  text-align: left;
  padding: 24px;
  font-size: 1em;
}

.EventTable th {
  font-weight: bold;
  color: #333;
}

.EventTable td {
  color: #555;
}

.EventTable tr {
  border-bottom: 1px solid #ccc;
}

.EventTable tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
  .EventListContainer{
    padding: 32px;
  }

  .EventFilterGroup {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .EventFilterGroup select {
    margin-bottom: 20px;
  }

  .EventTable {
    display: flex; /* Convert table to block layout */
    width: 100%; /* Ensure full width */
  }

  .EventTable thead {
    display: none; /* Hide table headers */
  }

  .EventTable tbody {
    width: 100%; /* Ensure tbody takes full width */
  }

  .EventTable tbody tr {
    display: flex; /* Stack rows vertically */
    flex-direction: column; /* Arrange cells in a column */
    border-bottom: 1px solid #ccc; /* Add border between rows */
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .EventTable td {
    display: block; /* Make each cell a block element */
    text-align: center; /* Align text to the left */
    font-size: 1em; /* Adjust font size */
    padding: 8px 0; /* Add vertical padding */
  }

  .EventTable td::before {
    content: attr(data-label); /* Add labels for each cell */
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 4px; /* Add spacing between label and content */
  }
}