.fansPageContainer {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    padding-bottom: 40px;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 40px;
    display: flex;
    gap: 40px;
}

.fansPageContainer p{
    font-size: 20px;
    margin: 0;
}

.fansPageContainerContactUs{
    display: flex;
    justify-content: space-between;
}

.fansPageContainer .contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fansPageContainer .contactUs p,
.fansPageContainer .contactUs h3{
    text-align: left;
}

.fansPageContainer .contactUs button{
    padding: 16px 40px;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    height: 20%;
}

.clubLeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.clubLeaderInfo {
    border: 1px solid #000;
    padding: 20px 80px;
}

.feedbackContainer{
    display: flex;
    margin: 40px auto;
    max-width: 1200px;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
    border-radius: 24px;
}

.fansPageContainerContactUs form > button{
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    margin-top: 8px;
    padding: 12px 0;
    font-size: 16px;
}

.fNameLastNameGroup > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fNameLastNameGroup{
    display: flex;
    gap: 16px;
}

.firstElementWrapper {
    margin-bottom: 0;
}

form input, textarea {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

form textarea {
    resize: vertical;
    min-height: 100px;
}

.phoneInput {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.Normal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.phoneInput {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#code{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .fansPageContainer{
        padding: 32px 16px;
        margin: 0;
        gap: 16px;
    }

    .fansPageContainer h3 {
        font-size: 1.5rem;
    }

    .fansPageContainer p {
        font-size: 1.25rem;
        margin: 0;
    }

    .clubLeaderSection {
        gap: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .clubLeaderInfo {
        border: 1px solid #000;
        padding: 16px 40px;
    }

    .fansPageContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .fansPageContainer .contactUs p,
    .fansPageContainer .contactUs h3{
        text-align: center;
        font-size: 1.25em;
    }

    .feedbackContainer {
        flex-direction: column;
        margin: 0;
        gap: 16px;
        padding: 16px;
    }

    .feedbackContainer h3{
        margin: 0;
        text-align: center;
    }

    .feedbackContainer p{
        margin: 4;
        text-align: center;
    }

    form {
        padding: 24px;
        border-radius: 16px;
    }

    .fNameLastNameGroup {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    form input, textarea {
        font-size: 1em;
        border-radius: 4px;
    }

    .feedbackContainer form > button {
        padding: 16px 0;
        border-radius: 8px;
        font-size: 1em;
    }
}