@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

.IndexSection {
  font-family: 'Lato', sans-serif;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.IndexSection > h1{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;
  margin-top: 0;
  text-align: center;
}

.EventListGroup {
  display: flex;
  font-size: 16px;
  width: 100%;
  column-gap: 24px;
  justify-content: space-between;
}

.EventListGroup > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventListGroup > div > p{
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

.EventList{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 16px;
  row-gap: 16px;
}

.EventList > p {
  text-align: center;
  font-weight: bold;
}

.EventTitle{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.Event{
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.EventDate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventDate > p{
  margin-top: 4px;
  margin-bottom: 4px;
  min-width: 80px;
  text-align: center;
}

.EventLink {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use inherited color */
}

.EventLink:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
  .IndexSection {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .EventListGroup {
    flex-direction: column; /* Stack event lists vertically */
    align-items: center;
    gap: 24px;
  }

  .EventList {
    max-width: 96%; /* Ensure it fits within the screen */
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }

  .Event {
    row-gap: 16px; /* Add spacing between stacked items */
  }

  .Section > h1 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
  }
}
