.fansPageContainer h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.fansPageContainer .contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fansPageContainer .contactUs p,
.fansPageContainer .contactUs h3{
    text-align: left;
}

.clubLeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.clubLeaderInfo {
    border: 1px solid #000;
    padding: 20px 80px;
}

.feedbackContainer{
    display: flex;
    margin: 40px auto;
    max-width: 1200px;
    justify-content: space-between;
}

.firstElementWrapper {
    margin-bottom: 0;
}

.phoneInput {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .fansPageContainer{
        padding: 32px 16px;
        margin: 0;
        gap: 16px;
    }

    .fansPageContainer h3 {
        font-size: 1.5rem;
    }

    .fansPageContainer p {
        font-size: 1.25rem;
        margin: 0;
    }

    .clubLeaderSection {
        gap: 40px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .clubLeaderInfo {
        border: 1px solid #000;
        padding: 16px 40px;
    }

    .fansPageContainer .contactUs{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .fansPageContainer .contactUs p,
    .fansPageContainer .contactUs h3{
        text-align: center;
        font-size: 1.25em;
    }

    .feedbackContainer {
        flex-direction: column;
        margin: 0;
        gap: 16px;
        padding: 16px;
    }

    .feedbackContainer h3{
        margin: 0;
        text-align: center;
    }

    .feedbackContainer p{
        margin: 4;
        text-align: center;
    }

}