.leadershipParentContainer{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 320px;
    padding-right: 320px;
}

.leadershipParentContainer h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.leadershipImagesContainer{
    gap: 32px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    justify-items: center;
}

.leadershipImagesRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .leadershipParentContainer{
        padding: 32px 16px;
        margin: 0;
        gap: 16px;
    }

    .leadershipParentContainer h3 {
        font-size: 1.5rem;
    }

    .leadershipImagesContainer{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}