.RankingContainer {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
}

.RankingContainer > h2{
    margin: 0;
    margin-bottom: 16px;
}

.RankingSearchContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.RankingSearchContainer > div {
    display: flex;
    flex-direction: column;
}

.RankingSearch{
    width: 25%;
}

.RankingSearch select{
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Section > h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.CategoryGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 5%;
}

.CategoryGroup > span{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.CategoryGroup > select {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
    cursor: pointer;
    appearance: none; /* Removes the dropdown arrow */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Firefox */
    position: relative;
}

.RankingTableWrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
}

.RankingTable {
    width: 100%; /* Ensure the table takes up full width */
    border-collapse: collapse; /* Optional: Improve table appearance */
    border: #555 1px solid;
    border-radius: 40px;
}

.RankingTable th, .RankingTable td {
    text-align: center;
    padding: 24px;
    font-size: 1em;
}

.RankingTable th {
    font-weight: bold;
    color: #333;
    background-color: #dfdfdf;
}

.RankingTable td {
    color: #555;
}

.RankingTable tr {
    border-bottom: 1px solid #ccc;
}

.RankingTable tr:last-child {
    border-bottom: none; /* Remove border for the last row */
}

.Gold {
    background-color: gold;
}

.Silver {
    background-color: silver;
}

.Bronze {
    background-color: #cd7f32;
}

/* ===== Mobile view ===== */
@media (max-width: 768px) {
    .RankingContainer {
        padding: 16px;
    }

    .RankingContainer > h1 {
        font-size: 1.5em;
        color: #333;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: center;
    }

    .RankingSearchContainer {
        flex-direction: column;
    }

    .RankingSearch {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

    .RankingSearch > p{
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
    }

    .RankingSearch > span{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .RankingSearch > select {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #eee;
        cursor: pointer;
        position: relative;
    }
}