@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > .content {
  flex: 1;
}
